body{
    margin: 0px;
    background: linear-gradient(217deg, rgba(0,0,0,.8), rgba(0,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,0,0,.8), rgba(0,0,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,0,.8), rgba(0,0,0,0) 70.71%);
}
.vertical-menu {
    width: 15vw;
    height: 100vh;
    background: radial-gradient(#585858,#707070);
    float: left;
}
  
.vertical-menu a {
    color: white;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-image: radial-gradient(#ddd1ff, #d1f3ff);
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: absolute;
    bottom: 0;
    width:85vw;
    margin-left: 15vw;
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #f1f1f1;
    color: black;
}
  
.navbar a#active {
    background-color: #4CAF50;
    color: white;
}
  
#qrcode{
    text-align: center;
    position: fixed;
    padding-left: 47vw;
    margin-top: 20vh;
    z-index: -1;

}